cache/
out/
forge-cache/
.vscode/
broadcast
.env
node_modules/
yarn-error.log

# vim
remappings.txt

# code coverage
lcov.info
coverage_report/

# Rust
target/
.rustc_info.json

# Crash Reports
crash_report.json

# Local files
.local
